.card-holder-input {
  width: 100%;
  min-width: 460px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  font-family: proxima-nova, sans-serif;
  padding: 11px;
  background: none;
  outline: none;
  border: 1px;
  margin: 0;
  box-sizing: border-box;
  caret-color: #B40099;
  border: 1px solid rgb(70,70,70);
  border-radius: 0 0 4px 4px;
}

.card-holder-input.error {
  border: 1px solid rgb(168, 50, 88);
}

.card-holder-input:-webkit-autofill:hover,
.card-holder-input:-webkit-autofill:focus,
.card-holder-input:-webkit-autofill:active {
  transition: color 9999s ease-out, background-color 9999s ease-out;
  transition-delay: 9999s;
  -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
  -webkit-transition-delay: 9999s;
}

.card-holder-input::placeholder {
  font-family: proxima-nova, sans-serif;
}

.card-holder-input:focus-within {
  border: 1px solid #A0A0A0;
  border-radius: 0 0 4px 4px;
}





