.cvv-input {
  width: 150px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  font-family: proxima-nova, sans-serif;
  padding: 11px;
  background: none;
  outline: none;
  margin: 0;
  box-sizing: border-box;
  caret-color: #B40099;
  border-left: 1px solid rgb(70,70,70);
  border-right: 1px solid rgb(70,70,70);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.cvv-input.error {
  border: 1px solid rgb(168, 50, 88);
}

.cvv-input:-webkit-autofill:hover,
.cvv-input:-webkit-autofill:focus,
.cvv-input:-webkit-autofill:active {
  transition: color 9999s ease-out, background-color 9999s ease-out;
  transition-delay: 9999s;
  -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
  -webkit-transition-delay: 9999s;
}

.cvv-input::placeholder {
  font-family: proxima-nova, sans-serif;
}

.cvv-input:focus-within {
  border: 1px solid #A0A0A0;
}





